
[Unit]
Description=Transcribe Speech to Text
After=network.target

[Service]
WorkingDirectory=/home/ahmedia/n8n/speech/  
ExecStart=/home/ahmedia/n8n/speech/venv/bin/python3  /home/ahmedia/n8n/speech/process_speech.py  
ExecReload=/home/ahmedia/n8n/speech/venv/bin/python3  /home/ahmedia/n8n/speech/process_speech.py   
Restart=always

[Install]
WantedBy=multi-user.target
